# Django

DJANGO_SETTINGS_MODULE=main.settings.base
IS_PRODUCTION=True
DEBUG=True
DJANGO_ALLOWED_HOSTS=domain
DJANGO_SECRET_KEY=
DJANGO_DEFAULT_FROM_EMAIL=ornigest <noreply@example>
DJANGO_SERVER_EMAIL=ornigest <noreply@example.com>
DJANGO_EMAIL_SUBJECT_PREFIX=[slug]
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
TWILIO_SID=
TWILIO_SECRET=
TWILIO_FROM=+12055836059
REDIS_URL=redis://redis:6379/0
FRONTEND_DOMAIN=domain
IPYTHONDIR=/app/.ipython
DJANGO_ADMINS=mailadmin
DOMAIN=https://siteurl.com
BACKEND_URL=https://siteurl.com
DJANGO_ADMINS=

# MYSQL

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=3306
MYSQL_HOST=haproxy-db-01

# Minio

#MINIO_ACCESS_KEY=
#MINIO_SECRET_KEY=
#MINIO_REAL_HOST_URL=minio:9000
