#!/bin/bash

/usr/local/sbin/certbot-auto renew >> /var/log/renew-logs.log
rm -rf /etc/pve/local/pve-ssl.pem  
rm -rf /etc/pve/local/pve-ssl.key  
rm -rf /etc/pve/pve-root-ca.pem

cp /etc/letsencrypt/live/{{ servername }}/fullchain.pem  /etc/pve/local/pve-ssl.pem  
cp /etc/letsencrypt/live/{{ servername }}/privkey.pem /etc/pve/local/pve-ssl.key  
cp /etc/letsencrypt/live/{{ servername }}/chain.pem /etc/pve/pve-root-ca.pem  
service pveproxy restart
service pvedaemon restart