<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo_mini.png">
            </div>

            <div class="title">{{'RESET YOUR PASSWORD' | translate}}</div>

            <form name="resetPasswordForm" [formGroup]="form.get('data')" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{'Password' | translate}}</mat-label>
                    <input matInput type="password" formControlName="new_password1">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{'Password is required' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'Password (Confirm)' | translate}}</mat-label>
                    <input matInput type="password" formControlName="new_password2">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        <app-project-error
                                [serverErrors]="serverErrors?.new_confirm_password"
                                [control]="form.get('data.new_confirm_password')"
                        ></app-project-error>
                    </mat-error>
                </mat-form-field>

                <button (click)="reset()" mat-raised-button class="submit-button" color="accent"
                        [projectWaitingButton]="formService.loading$ | async"
                        aria-label="RESET MY PASSWORD" [disabled]="form.invalid">
                    {{'RESET MY PASSWORD' | translate}}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">{{'Go back to login' | translate}}</a>
            </div>

        </div>

    </div>

</div>
