<div id="change-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

    <div class="title">{{'CHANGE YOUR PASSWORD' | translate}}</div>

    <form #formElement [formGroup]="form.controls['data']" name="form">

        <mat-form-field appearance="outline">
            <mat-label>{{'Old password' | translate}}</mat-label>
            <input matInput formControlName="old_password" type="password" required>
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
                <app-project-error
                        [serverErrors]="serverErrors?.old_password"
                        [control]="form.get('data.old_password')"
                ></app-project-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{'New password' | translate}}</mat-label>
            <input matInput formControlName="new_password1" type="password" required>
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
                <app-project-error
                        [serverErrors]="serverErrors?.new_password1"
                        [control]="form.get('data.new_password1')"
                ></app-project-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{'Confirm password' | translate}}</mat-label>
            <input matInput formControlName="new_password2" type="password" required>
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
                <app-project-error
                        [serverErrors]="serverErrors?.new_password2"
                        [control]="form.get('data.new_password2')"
                ></app-project-error>
            </mat-error>
        </mat-form-field>

        <button (click)="submit()" mat-raised-button class="submit-button" color="accent" [disabled]="form.invalid"
            [projectWaitingButton]="formService.loading$ | async">
            {{'CHANGE PASSWORD' | translate}}
        </button>
    </form>

</div>