# {{ ansible_managed }}

[galera]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
{% if first_node == "yes" %}
wsrep_cluster_address=gcomm://
{% else %}
wsrep_cluster_address="gcomm://{{ galera_cluster_nodes }}"
{% endif %}


binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
wsrep_cluster_name="{{ galera_cluster_name }}"
wsrep_node_address="{{ galera_node_address }}"